:root {
  --white: #ffffff;
  --white-darker: #f1f1f1;
  --black: #000000;
  --black-lighter: #333333;
  --blue-lighter: #bed4ff;
  --blue: #0066ff;
  --blue-dark: #005ce6;
  --blue-darker: #0052cf;
  --orange-light: #ffa319;
  --orange: #ff9900;
  --orange-darker: #e68a00;
  --red: #c52a19;
  --red-dark: #b12516;
  --red-darker: #9f2113;
  --gray-lighter: #e3e3e3;
  --gray-light: #e8e8e8;
  --gray: #7d7c83;
  --gray-darker: #646369;
}
/* Pra chamar as fontes:
font-family: 'Inter', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--white);
  background: linear-gradient(
    0deg,
    rgba(241, 241, 241, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  min-height: 100vh;

  background: radial-gradient(ellipse at top right, rgba(0,120,212,.6), transparent 60%), 
              radial-gradient(ellipse at bottom right, rgba(1,164,1,.6) 0%, transparent 50%), 
              radial-gradient(circle at left, rgba(249,97,0,.7) 0%, rgba(255,255,255,1) 50%);
             background-attachment: fixed;

      
}

body,
button,
input {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

::selection {
  background: var(--blue-lighter);
}

::-moz-selection {
  background: var(--blue-lighter);
}

.flex {
  display: flex;
  align-items: center;
}
/*
    #                        
   # #   #    # ##### #    # 
  #   #  #    #   #   #    # 
 #     # #    #   #   ###### 
 ####### #    #   #   #    # 
 #     # #    #   #   #    # 
 #     #  ####    #   #    # 
                             
*/
/*
<div class="auth">
        <div class="auth-box">
            <h1>Login</h1>
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" placeholder="example@gmail.com" />
            </div>
            <div class="form-group">
                <label for="senha">Senha: </label>
                <input type="password" name="senha" id="senha" placeholder="********" />
            </div>
            <a href="/recover.html">Esqueceu a senha?</a>
            <div class="btn-group">
                <button type="submit" class="btn btn-confirm btn-double">Entrar</button>
            </div>
        </div>
    </div> 
*/
.auth {
  display: flex;
  height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
  background: radial-gradient(
      ellipse at top right,
      rgba(0, 120, 212, 0.6),
      transparent 60%
    ),
    radial-gradient(
      ellipse at bottom right,
      rgba(1, 164, 1, 0.6) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at left,
      rgba(249, 97, 0, 0.7) 0%,
      rgba(255, 255, 255, 1) 50%
    );
}

.auth h1 {
  font: 600 2em "Inter", sans-serif;
  text-align: center;
  margin: 1rem 0 2rem 0;
}

.auth-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  min-width: 30rem;
  padding: 1rem 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.auth a.forgot {
  color: var(--black-lighter);
  font-size: 0.925rem;
  font-weight: 500;
  border-bottom: solid 1px transparent;
  transition: 0.2s;
  cursor: pointer;
}

.auth a.forgot:hover {
  border-bottom: solid 1px var(--black-lighter);
  text-underline-offset: 2px;
}

/* 
######                                          
#     # #    # ##### #####  ####  #    #  ####  
#     # #    #   #     #   #    # ##   # #      
######  #    #   #     #   #    # # #  #  ####  
#     # #    #   #     #   #    # #  # #      # 
#     # #    #   #     #   #    # #   ## #    # 
######   ####    #     #    ####  #    #  ####  
                                                
 */

/* div de alinhar botões */
/*
<div class="btn-group">
    <button class="btn btn-cancel">cancel</button>
    <button class="btn btn-confirm">confirma</button>
</div>
*/

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* classe padrão dos botões */
.btn {
  min-width: 8rem;
  margin: 1rem;
  border-radius: 0.375rem;
  padding: 0.8rem 1rem;

  font: 600 1rem "Inter", sans-serif;

  transition: 0.3s;
}

.btn-double {
  min-width: 16rem;
}

/* classe dos botões de confirmação */
.btn-confirm {
    background: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
  }
  
  .btn-confirm:hover {
    background: var(--blue-dark);
    border: 2px solid var(--blue-dark);
  }
  
  .btn-confirm:active {
    background: var(--blue-darker);
  }

/* classe dos botões de confirmação */
.btn-exclusion {
    background: var(--red-dark);
    color: var(--white);
    border: 2px solid var(--red-dark);
  }
  
  .btn-exclusion:hover {
    background: var(--red-darker);
    border: 2px solid var(--red-darker);
  }
  
  .btn-exclusion:active {
    background: var(--red-darker);
  }

/* classes dos botões de cancelamento */
.btn-cancel {
  background: var(--white);
  color: var(--black-lighter);
  border: 2px solid var(--gray-lighter);
}

.btn-cancel:hover {
  background: var(--gray-lighter);
  border: 2px solid var(--gray-lighter);
}

.btn-cancel:active {
  background: var(--gray-light);
  border: 2px solid var(--gray-light);
}

/* Botão de fechamento */
/*
<button class="btn-close"><span class="lnr lnr-cross"></span></button>
*/
.btn-close {
position: absolute;
top: 1rem;
right: 1rem;

  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  border: 0;

  float: right;

  font-size: 1rem;
  font-weight: 700;
  color: var(--red);

  transition: 0.3s;
}

.btn-close:hover {
  background: var(--red-dark);
  color: var(--white);
}

.btn-close:active {
  background: var(--red-darker);
}

.btn-close span {
  font-weight: bold;
}

/* Botão de cadastro */
/*
simbolo de arquivo com +:
<button class="btn btn-create"><span class="lnr lnr-file-add"></span>Cadastro</button>
*/
.btn-create {
  background: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
  padding: 0.5rem 1rem;
}

.btn-create:hover {
  background: var(--blue-dark);
  border: 2px solid var(--blue-dark);
}

.btn-create:active {
  background: var(--blue-darker);
  border: 2px solid var(--blue-darker);
}

.btn-create span {
  margin-right: 5px;
}

/* Botões de editar e excluir */
/* 
  <div class="btn-manage">
  <span class="lnr lnr-pencil"></span>
  <span class="lnr lnr-trash"></span>
  </div>
*/

.btn-manage {
  font-size: 1.3rem;
  transition: color 0.3s;
}

.btn-manage:hover {
  color: var(--blue);
  font-weight: 700;
}

.box .btn-manage {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.box span {
  padding: 0.5rem;
}

/* 
#     #                                    
#     # ######   ##   #####  ###### #####  
#     # #       #  #  #    # #      #    # 
####### #####  #    # #    # #####  #    # 
#     # #      ###### #    # #      #####  
#     # #      #    # #    # #      #   #  
#     # ###### #    # #####  ###### #    # 
                                           
 */

/* Exemplo de Header não autenticado
<header class="header-box">
    <div class="logo-box">
        <img src="public/mobicare-akross-logo.svg">
    </div>
</header>
*/

/* Exemplo de Header autenticado
<header class="header-box">
      <div class="logo-box">
        <img src="public/mobicare-akross-logo.svg">
      </div>
      <div class="profile-box">
        Fulano de Tal
        <a href="index.html"><span class="lnr lnr-exit"></span></a>
      </div>
</header>
 */

.header-box {
  position: sticky;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  background: var(--white);
  box-shadow: 0px 3px 5px 0px rgba(223, 225, 230, 0.75);

  padding: 0 10rem;
}

.header-box .logo-box img {
  width: 16rem;
}

.header-box .profile-box {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}

.header-box .profile-box a {
  margin-left: 2rem;
}

.header-box .profile-box span {
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  padding: 0.375rem;
  text-align: center;

  font-size: 1.5rem;
  color: var(--gray);

  transition: 0.3s;
}

.header-box .profile-box span:hover {
  color: var(--black);
  background: var(--white-darker);
}

/* 
###                                   
#  #    # #####  #    # #####  ####  
#  ##   # #    # #    #   #   #      
#  # #  # #    # #    #   #    ####  
#  #  # # #####  #    #   #        # 
#  #   ## #      #    #   #   #    # 
### #    # #       ####    #    ####  
  */

/*
<form class="form">
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" placeholder="example@gmail.com" />
        </div>
        <div class="form-group">
            <label for="senha">Senha: </label>
            <input type="password" name="senha" id="senha" placeholder="********" />
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-confirm">Entrar</button>
        </div>
    </form>
*/

.form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
  width: 80%;
}

.form-group label {
  font: 600 0.975rem "Inter", sans-serif;
  margin-bottom: 0.2rem;
}

.form-group input {
  width: 100%;
  height: 2.3rem;

  border: 3px solid transparent;
  border-radius: 0.375rem;

  padding-left: 0.8rem;
  font: 400 0.875rem "Inter", sans-serif;

  background: var(--gray-light);
  color: var(--black-lighter);

  transition: 0.1s;
}

.form-group input:focus {
  border: 2px solid var(--blue);
}

input::placeholder {
  color: var(--gray);
  opacity: 1;
}

input:focus::placeholder {
  color: transparent;
}

/* Input dropdown */
/*
<div class="form-group">
    <label>Estado: </label>
    <select class="input-drop" name="status">
        <option value="">---</option>
        <option value="1">Ativo</option>
        <option value="2">Inativo</option>
    </select>
</div>
*/

.input-drop {
  border-radius: 0.375rem;

  padding: 0.5rem 0.8rem;
  font: 400 0.875rem "Inter", sans-serif;

  border-radius: 0.375rem;
  border: 1px solid transparent;
  background: var(--gray-light);

  transition: 0.1s;
  color: var(--black-lighter);
}

/* Textarea*/
/*
<div class="form-group textarea">
    <label>Descrição</label>
    <textarea></textarea>
</div>
*/
.form-group.textarea {
  width: 90%;
}
.form-group textarea {
  min-height: 5rem;
  resize: none;
  border: 3px solid transparent;
  border-radius: 0.375rem;

  padding: 0.2rem 0.8rem;
  font: 400 0.875rem "Inter", sans-serif;

  background: var(--gray-light);
  color: var(--black-lighter);

  transition: 0.1s;
}

.form-group textarea:focus {
  border: 2px solid var(--blue);
}

.form-group.upload {
    align-items: center;
}

.form-group input.upload {
    display: none;
    width: fit-content;
    background-color: transparent;
    padding: 0.5rem 0.5rem 0;;
}

.form-group label.upload {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 
  padding: 0.5rem 0.5rem;

  border: 1px solid var(--gray-lighter);
  border-radius: 0.375rem;

  background: var(--gray-light);

  color: var(--black-lighter);
  font-weight: 900;
  font-size: 1.5rem;

  transition: 0.3s;
}

.form-group label.upload:hover {
  border: 1px solid var(--blue);
  color: var(--gray-light);
  background-color: var(--blue);
}

.form-group label.upload:active {
  background-color: var(--blue-dark);
}

/* 
  #####                                     
 #     # ######   ##   #####   ####  #    # 
 #       #       #  #  #    # #    # #    # 
  #####  #####  #    # #    # #      ###### 
       # #      ###### #####  #      #    # 
 #     # #      #    # #   #  #    # #    # 
  #####  ###### #    # #    #  ####  #    # 
*/
/*
<div class="search-box">
    <input type="text"/>
    <button type="submit"><span class="lnr lnr-magnifier"></span></button>
</div>
*/

.search-box {
  display: inline-flex;
  flex: 1 1 300px;
  align-items: center;

  border-radius: 0.375rem;
  border: 2px solid transparent;
  background: var(--white-darker);

  transition: 0.1s;
}

.search-box:focus-within {
  border: 2px solid var(--blue);
}

.search-box span {
  font-weight: 900;
  padding: 0.5rem;
  color: var(--black-lighter);
}

.search-box input {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;

  border: 0;
  border-radius: 0 0.375rem 0.375rem 0;

  font: 400 0.875rem "Inter", sans-serif;
  color: var(--gray);

  background: var(--white-darker);
}

.search-box input:focus {
  color: var(--black-lighter);
}

.search-box button {
  position: relative;
  border: none;
}

.search-box button:hover > * {
  color: var(--blue);
  transition: 0.2s;
}

.search-box button::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 120%;
  top: -10%;
  display: block;
  background: var(--gray);
}

.search-box label {
	padding-left: 0.5rem;
	font: 800 0.875rem "Inter", sans-serif;
}

/* Dropdown query */
/*
<select class="query-drop" name="status">
  <option value="">---</option>
  <option value="1">Ativo</option>
  <option value="2">Inativo</option>
</select>
*/

.query-drop {
  margin-left: 10px;

  background: var(--white-darker);
}

/* 
 #     #                             
 ##   ##  ####  #####    ##   #      
 # # # # #    # #    #  #  #  #      
 #  #  # #    # #    # #    # #      
 #     # #    # #    # ###### #      
 #     # #    # #    # #    # #      
 #     #  ####  #####  #    # ###### 
 */

/* Base do modal
<div class="overlay">
    <div class="modal-box">
        <button class="btn-close"><span class="lnr lnr-cross"></span></button>
        <h1>Título</h1>
        Conteúdo
    </div>
</div> 
*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  /* gray-darker */
  background: rgba(99, 100, 105, 0.8);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.overlay h1 {
  font: 600 2em "Inter", sans-serif;
  text-align: center;
  margin: 1rem 0 2rem 0;
}

.overlay h2 {
  color: var(--gray-darker);
  font: 400 1em "Inter", sans-serif;
  text-align: center;
  margin: -1.8rem 0 2rem 0;
}

.modal-box {
    position: relative;
  background: var(--white-darker);
  min-width: 30rem;
  padding: 1rem 1rem;
  border-radius: 0.375rem;
  /* black-lighter */
  box-shadow: 0 0 3.75rem rgba(51, 51, 51, 0.05);
}

.modal-box h3 {
  font: 700 1em "Inter", sans-serif;
}

.modal-box p {
  margin: 2rem 0;
}


/*
 ######                                                                 
 #     # #####  ######   ##   #####   ####  #####  #    # #    # #####  
 #     # #    # #       #  #  #    # #    # #    # #    # ##  ## #    # 
 ######  #    # #####  #    # #    # #      #    # #    # # ## # #####  
 #     # #####  #      ###### #    # #      #####  #    # #    # #    # 
 #     # #   #  #      #    # #    # #    # #   #  #    # #    # #    # 
 ######  #    # ###### #    # #####   ####  #    #  ####  #    # #####  
*/
/*
<ul class="bd-group">
  <li><a href="projetos">Projetos</a></li>
  <li><a href="versoes">Versões</a></li>
  <li><a href="telas">Telas</a></li>
</ul>
*/

.bd-group {
  padding: 10px 16px;
}

.bd-group li {
  display: inline-block;
  font-size: 1.8rem;
  position: relative;
}

.bd-group li + li::before {
  padding: 0.375;
  color: var(--black-lighter);
  content: "/\00a0";
}

.bd-group li a {
  position: relative;
  color: var(--blue);
  font-weight: 700;
  transition: 0.3s;
}

.bd-group li a:hover {
  color: var(--blue-dark);
}

.bd-group li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.125rem;
  display: block;
  margin-top: 0.2em;
  right: 0;
  background: var(--blue);
  transition: 0.3s;
}

.bd-group li a:hover::after {
  width: 100%;
  left: 0;
  background: var(--blue-dark);
}

/*

 ######                                                          
 #     #   ##    ####  #    # #####   ####    ##   #####  #####  
 #     #  #  #  #      #    # #    # #    #  #  #  #    # #    # 
 #     # #    #  ####  ###### #####  #    # #    # #    # #    # 
 #     # ######      # #    # #    # #    # ###### #####  #    # 
 #     # #    # #    # #    # #    # #    # #    # #   #  #    # 
 ######  #    #  ####  #    # #####   ####  #    # #    # #####  
                                                                 
*/

.container {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  align-items: flex-start;
  justify-content: center;
}

.table {
  display: flex;
  flex-direction: column;
  width: 60%;
  border-radius: 15px 15px 5px 5px;
  overflow: hidden;
  background-color: rgba( 227, 227, 227, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.title-bar {
  display: flex;
  flex-direction: column;
  padding: 0.6rem 0.8rem;
  background: rgba( 227, 227, 227, 0.4 );
}

.title-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
 #     #                                                 
 #     # # ###### #    #    #      #  ####  #####   ##   
 #     # # #      #    #    #      # #        #    #  #  
 #     # # #####  #    #    #      #  ####    #   #    # 
  #   #  # #      # ## #    #      #      #   #   ###### 
   # #   # #      ##  ##    #      # #    #   #   #    # 
    #    # ###### #    #    ###### #  ####    #   #    # 
*/

/*
<table class="list">
  <thead class="list-header">
    <tr>
    <th></th>
    </tr>
  </thead>
  <tbody class="list-body">
    <tr>
      <td></td>
      <td>
        <span class="lnr lnr-pencil btn-manage"></span>
        <span class="lnr lnr-trash btn-manage"></span>
      </td>
    </tr>
  </tbody>
</table>
*/

.list {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.list-header th {
  text-align: left;
  color: var(--white-darker);
  background-color: rgba( 100, 99, 105, 0.5 );
  font-size: 1rem;
  padding: 0.375rem 0.938rem;
}



.list-body tr:nth-of-type(odd) {
  background: rgba( 241, 241, 241, 0.5 );
}

.list-body tr:nth-of-type(even) {
  background: rgba( 255, 255, 255, 0.5 );
}

.list-body td {
  height: 57px;
  padding: 0.375rem 0.938rem;
  color: var(--black-lighter);
  font-size: 1rem;
}

.list-body td div {
  display: flex;
  align-items: center;
}

.list-body td a, .btn-manage a, .list-body td a:visited, .btn-manage a:visited {
  color: var(--black-lighter);
}

/*
.list {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white-darker);
}

.list-item {
  flex-grow: 1;
  width: 100%;

  overflow: hidden;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 1rem;
  padding: 0.5rem 0.8rem;
}

.listing-header {
  font-size: 1rem;
}

.listing {
  font-size: 0.875rem;
}

.listing:nth-of-type(odd) {
  background: var(--gray-light);
}

.listing:nth-of-type(even) {
  background: var(--white);
}

.listing:first-of-type {
  margin-top: 0.8rem;
}

.listing:last-of-type {
  margin-bottom: 0.8rem;
}

.listing p {
  display: flex;
  align-items: center;
}
*/

/*
 #     #                                           
 #     # # ###### #    #     ####  #####  # #####  
 #     # # #      #    #    #    # #    # # #    # 
 #     # # #####  #    #    #      #    # # #    # 
  #   #  # #      # ## #    #  ### #####  # #    # 
   # #   # #      ##  ##    #    # #   #  # #    # 
    #    # ###### #    #     ####  #    # # #####  
*/

.boxes {
  display: flex;
  flex-flow: row wrap;
  background: rgba( 227, 227, 227, 0.4 );


  grid-gap: 2rem;
  padding: 1rem 1rem 1rem;
  justify-content: space-evenly;
  pointer-events: none;
}

.boxes > * {
  pointer-events: auto;
  transition: 300ms opacity, 300ms transform;
}

.boxes:hover > * {
  opacity: 0.5;
}

.boxes:hover > *:hover {
  transform: scale(1.1);
  opacity: 1;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 8rem;
  background-color: var(--white-darker);
  border-radius: 0.3rem;
  font-size: 1.5em;
}

.box a.project, .box a.project:visited {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 500;
  flex-grow: 1;
  align-items: center;
  text-align: center;
  transition: .3s;
}

.box a.project:hover {
  color: var(--blue-darker);
}

.details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.info {
  display: flex;
  grid-gap: 1rem;
}

.info a {
  color: var(--blue);
  transform: 0.3s;
}

.info a:hover {
  border-bottom: 1px solid var(--blue-dark);
  color: var(--blue-dark);
}

.info a:visited {
  color: var(--blue);
}

.screen-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  grid-gap: 1rem;
}

.screen-info {
  display: flex;
  flex-direction: column;
}

.screen-info-items {
  display: flex;
  justify-content: space-between;
}

.screen table {
  border: none;
  background: rgba( 227, 227, 227, 0.4 );
  border-collapse: collapse;
}

.screen tr, .screen th, .screen td {
  border: 1px solid black;
}

.screen td {
  padding: 0.2rem;
}

.screen table caption {
  font-weight: 700;
}
